{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <h1 class="title">Welcome to britecore!</h1>
        <p class="subtitle">Please select the insurance type and continue.</p>

        <!-- Showing all the risks -->
        <form action="" method="get">
          <div class="field">
            <div class="control">
              <div class="select is-fullwidth">
                <select name="id">
                  <option disabled selected>Please select the insurance here.</option>
                  {% for risk in risks %}
                    <option value="{{ risk.id }}">{{ risk }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="button is-primary">Proceed</button>
        </form>
      </div>
      <div class="column is-one-quarter"></div>
    </div>
  </div>
</section>
{% endblock content %}
