{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <h1 class="title">Welcome to BriteCore!</h1>
        <p class="subtitle">Please fill <strong>{{ risk.name }}</strong> form</p>
        <hr>
        <div id="app"></div>

        <script type="text/x-template" id="my-template">
          <div v-if="risk">
            <ul>
              <li v-for="item in risk.riskfields">
                <div v-if="item.field_type === 'text'">
                  <text-input v-bind:label="item.name"></text-input>
                </div>
                <div v-if="item.field_type === 'number'">
                  <number-input v-bind:label="item.name"></number-input>
                </div>
                <div v-if="item.field_type === 'date'">
                  <date-input v-bind:label="item.name"></date-input>
                </div>
              </li>
            </ul>
          </div>
        </script>
        <br>
        <button type="submit" class="button is-primary">Submit</button>
        <a href="/dev" class="button">Go back</a>
      </div>
      <div class="column is-one-quarter"></div>
    </div>
  </div>
</section>
{% endblock content %}

{% block js %}
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  
<script src="{% static 'js/main.js' %}"></script>
{% endblock js %}
